{{$.Info.PeriodID}}期
🔥🔥🔥已封盘，停止下注🔥🔥🔥
💰——————————————💰
⬇️本群唯一上下分财务/客服⬇️
[@wb\_caishen88](https://t\.me/bbsz888) [@wangbokefu](https://t\.me/bbsz888)
请添加财务/客服为好友备注 以免被骗
💰——————————————💰
汇旺担保合计上押920万美金，上下分无忧。
💰——————————————💰
🈲🈲私信发地址的都是骗子
🈲🈲私信发地址的都是骗子
🈲🈲私信发地址的都是骗子
💰——————————————💰
🟩点群置顶查看玩法规则🟩
💰————本期下注玩家————💰
{{range $val := .Bets}}
{{$val}}{{end}}