*欢乐牛牛* 本场结算
{{range $val := .Detail}}
{{$val}}
{{end}}
玩家列表:{{range $val := .Change}}
【[富可敌国](http://www.example.com/)】{{$val.UserName}} ：{{$val.FmtArea}} {{$val.FmtChangescore}} {{end}}

最近{{$.WaysCount}}场历史：
🐲青龙：● ○ ○ ○ ○ 
🐯白虎：● ○ ○ ○ ● 
🦚朱雀：◎ ○ ○ ○ ○ 
🐢玄武：● ○ ○ ○ ● 

[广告](http://www.example.com/) [爱游戏直招💞入职自拿3万💞三月免半💞半年全免 ](http://www.example.com/)