🎴*欢乐牛牛* 本场结算

{{$val.Details}}

玩家列表:{{range $val := .Players}}
【[富可敌国](http://www.example.com/)】{{$val.UserName}} ：{{$val.FmtBetArea}}{{end}}

最近{{$val.UserName}}场历史：
🐲青龙：● ○ ○ ○ ○ 
🐯白虎：● ○ ○ ○ ● 
🦚朱雀：◎ ○ ○ ○ ○ 
🐢玄武：● ○ ○ ○ ● 